*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.png)
    background center;
    background-size: cover;
    height: 109vh; 
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height:70px;
}

.logo{
    color: rgb(0, 217, 255);
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 10px;
}

.MENU{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:  rgb(0, 217, 255);
}

.search{
    width: 100px;
    height: 40;
    top: -100px;
    float: right;
    margin-left: 270px;
    margin-bottom: 10px;
    text-align:top;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    top: -40px;
    background: transparent;
    border: 1px solid  rgb(0, 217, 255);
    margin-top: 5px;
    color: #fff;
    border-right: none;
    float: top;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 110px;
    height: 30px;
    background:  rgb(0, 217, 255);
    border: 2px solid  rgb(0, 217, 255);
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;

}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;

}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2Px;
    line-height: 30Px;
}

.content .par a{
    color: #fff;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(0, 217, 255);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;

}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: rgb(0, 217, 255);
    font-size: 80px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 100px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: bottom;
    color: rgb(0, 217, 255);
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;


}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(0, 217, 255);
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}


.form input:focus{
    outline: none;

}

::placeholder{
    color: #fff;
    font-family: Arial;

}

.btn{
    width: 240px;
    height: 40px;
    background: rgb(0, 217, 255);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.btn:hover{
    background: #fff;
    color: rgb(0, 217, 255);

}
.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}

.form .link a{
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(0, 217, 255);
}

.liw{
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.form .icons a{
    text-decoration: none;
    color: #fff;
}

.form .icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
}

.form .icons ion-icon:hover{
    color: rgb(0, 217, 255);
}